################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/config/applicationhost.config
/.vs/hello-word-web-app/v15/.suo
/.vs/VSWorkspaceState.json
/node_modules
